html,
body {
  scroll-behavior: smooth;
  width: 100%;
  font-family: 'Montserrat', sans-serif;;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  min-width: 320px;
}

.home-container h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 67px;
  color: #272341;
  text-align: center;
}

.home-title b {
  color: #00C8AD;
}

.home-title span {
  font-size: 2.3rem;
}

.button-container {
    display: flex;
    margin-top: 40px;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button-container button {
  background: none;
  color: black;
  width: 200px;
  height: 80px;
  border: 1px solid #00C8AD;
  border-radius: 4px;
  margin: 5px;
  text-transform: uppercase;
  font-weight: 700;
  overflow: auto;
  font-size: 1.5rem;
}

.button-container button:hover {
  background-color: #00C8AD;
}


/*About*/

.about {
  background-image: linear-gradient(to left, rgba(255, 0, 0, 0), #00c3acca);
  width: 100%;
  padding-bottom: 5rem;
  padding-top: 10rem;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.profile img {
  width: 325px;
  height: 300px;
  border-radius: 20rem;
}
.description {
  width: 40%;
  margin: 15px;
  padding: 0;
}

.tools-container {
  border: 3px solid #00c8ad;
}

.tools-container {
  width: 80%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  padding-top: 25px;
} 

.section-3 {
  position: relative;
  width: 50%;
  min-width: 320px;
  height: 100%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.tools, .extra-tools {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 5rem;
}

.tools img {
  margin: 0px 8px 0px;
}

.extra-tools img {
  margin: 0px 8px 0px;
}

.tags h5 {
  text-align: center;
  padding: 25px;
  font-size: 2rem;
  text-transform: uppercase;
}

.chip {
  font-size: 0.9rem !important;
  background-color: #000000 !important;
  color: white !important;
}

/*Projects*/

.card-action a {
  color: #00695c !important;
  font-weight: 500 !important;
}

.card-action a:hover {
  color: #80cbc4 !important;
}


/*Contact*/

.contact {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #00c3acca);
  padding-bottom: 5rem;
}

.contact h5 {
  color: #1d1d1d;
}

.projects h2 {
  color: rgb(24, 24, 24);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  padding-top: 5rem;
  padding-bottom: 3rem;
  text-align: center;
}

/* foundation icons */

.rounded-social-buttons {
  text-align: center;
  padding: 1.5rem;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.120rem;
  height: 3.120rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5620rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rounded-social-buttons .social-button.facebook {
  background: #004d40;
}

.rounded-social-buttons .social-button.facebook:before {
  font-family: "FontAwesome";
}

.rounded-social-buttons .social-button.facebook:hover,
.rounded-social-buttons .social-button.facebook:focus {
  color: #000000;
  background: #fefefe;
}

.rounded-social-buttons .social-button.twitter {
  background: #004d40;
}

.rounded-social-buttons .social-button.twitter:before {
  font-family: "FontAwesome";
}

.rounded-social-buttons .social-button.twitter:hover,
.rounded-social-buttons .social-button.twitter:focus {
  color: #000000;
  background: #fefefe;
}

.rounded-social-buttons .social-button.linkedin {
  background: #004d40;
}

.rounded-social-buttons .social-button.linkedin:before {
  font-family: "FontAwesome";
}

.rounded-social-buttons .social-button.linkedin:hover,
.rounded-social-buttons .social-button.linkedin:focus {
  color: #000000;
  background: #fefefe;
}

.rounded-social-buttons .social-button.instagram {
  background: #004d40;
}

.rounded-social-buttons .social-button.instagram:before {
  font-family: "FontAwesome";
}

.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus {
  color: #000000;
  background: #fefefe;
}

.rounded-social-buttons .social-button.github {
  background: #004d40;
}

.rounded-social-buttons .social-button.github:before {
  font-family: "FontAwesome";
}

.rounded-social-buttons .social-button.github:hover,
.rounded-social-buttons .social-button.github:focus {
  color: #000000;
  background: #ffffff;
  border-color: #000000;
}

/*Footer*/
.footer {
  background-color: #00c3acca;
  margin-top: 80px;
}

.footer h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 3rem;
  margin: 25px;
}
.copyright p {
  text-align: center;
  padding: 20px;
}

.float-btn{
  float: right;
  margin-top: 20px;
  padding-right: 20px;
}